html {
	background: #ffffff url(tile.jpg);
}

body {
	font-weight: normal;
	font-family: arial, sans-serif;
	font-size: .85em;
	color: #444;
	width: 950px;
	margin: 20px auto 0 auto;	
	padding : 20px 20px;
	background: #fff;
}

#logo h2 {
	font-size: .9em;
	font-style: italic;
}

a {
	margin: 0 0;
	padding: 0 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

section {
	float: right;
	width: 80%
}

aside {
	float: left;
	width: 20%
}

aside a { 
	text-decoration:none;
	display: block;
	height: 30px;
	color: #000;	
}
